<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fa fa-search fa-3x"></i>
          <p>SEARCH</p>
        </h1>
        
        <form role="form" method="GET" action="/book/isbn" id="upload-widget">
          
          <div class="form-group">
            <label for="fieldIsbn">Search By Isbn</label>
            <input
              type="text"
              id="fieldIsbn"
              name="isbn"
              class="form-control mb-2 mr-sm-2"
              placeholder="Enter Book's Isbn"
            />
          </div>
          

          <button type="submit" id="submit" class="btn btn-primary mb-3">
            Search
          </button>
        </form>
        <p class="lead mt-4" id="next" hidden><a href="/book">View Books <i class="fa fa-eye fa-lg" aria-hidden="true"></i></a></p>
        <p class="lead mt-4"><a href="/">Home <i class="fa fa-home fa-lg" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>      

